# License file
include LICENSE

# README and the files it references
include README.rst
include ABOUT.rst
include CHANGELOG.rst

# Running requirements
include requirements.txt

# Development requirements
include requirements-dev.txt

# Tox configuration setting
include tox.ini

# Pytest configuration setting
recursive-include tests *.py

# pytest bdd tests
recursive-include tests/features *.feature
include tests/package_names.csv

# Documentation
include docs/Makefile
include docs/make.bat
recursive-include docs/source *
prune docs/build