bandit
build
coverage
devpi-client
flake8
lxml
mypy
paramiko
pydocstyle
pykdu-compress>=0.1.7b2
pylint
pytest
pytest-cov
pytest-bdd < 4.0
pytest-runner
rinohtype
six==1.14.0
sphinx
sphinx-argparse
tox
twine
